@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@400;500;600;800&display=swap");

body{
    
     padding: 0;
     margin: 0;
     background-color: #FCD1DE;
}

#logo {
    width: 100px;
    margin-left: 20px;
    margin-top: 5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
  }
  
nav {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #fdb6cc;
  }

nav a {
  -webkit-user-drag: none;
}
  .mainBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #title{
    margin-top: 100px;
    margin-left: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    color:  #675b5b;
    font-size: 20px;
  }
  .info{
    margin-left: 20px;
    margin-top: 30px;
    font-family: 'Montserrat';
    font-weight: 600;
    color:  #675b5b;
    font-size: 15px;
  }

  #input{
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 220px;
    margin-left: 20px;
    padding-left: 8px;
  }

  #input:focus {
    outline: none;
  }

  .container{
    margin-top: 124px;
    margin-left: 70px;
  }

  button {
    border: none;
    background-color: #ff598f;
    color: #ffe8e8;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 500;
    border-radius: 20px;
    padding: 13px;
    margin-left: 40px;
    position:fixed;
    bottom: 70px;
    right: 70px;
    cursor: pointer;
  }
