@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@400;500;600;800&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #fcd1de;
  display: flex;
}

#logo {
  width: 100px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

nav {
  width: 100%;
  display: flex;
  position: fixed;
  background-color: #fdb6cc;
  z-index: 99;
}

nav a {
  width: 100px;
  margin-left: 20px;
  margin-top: 5px;
  -webkit-user-drag: none;
}

nav ul li a {
  color: #fff;
  font-size: 600;
  font-weight: 600;
  margin: 20px 20px auto 40px;
  text-decoration: none;
  font-family: "Montserrat";
}

nav li {
  float: left;
  font-size: 600;
  font-weight: 600;
  list-style: none;
  font-family: "Montserrat";
  margin-left: 20px;
  color: #f9eded;
  margin-top: 4px;
}

.mainBox {
  display: flex;
  flex-direction: row;
}

#principal {
  margin-top: 150px;
  color: #675b5b;
  align-self: flex-start;
  font-size: 60px;
  font-family: "Montserrat";
  font-weight: 600;
  margin-left: 40px;
}

#animacao {
  align-self: initial;
}

button {
  border: none;
  background-color: #ff598f;
  color: #ffe8e8;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
  padding: 13px;
  margin-left: 40px;
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.3s;
}

button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
  box-shadow: #f0b6c9;
}
